@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin border-radius-left($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;          
}
@mixin border-radius-right($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;          
}
@mixin border-radius-top($radius){
 border-top-left-radius: $radius;
 border-top-right-radius: $radius;
}

@mixin btn_transition {
	transition: background-color .3s,
				color .3s,
				border-color .3s;
}


@mixin triangle ($color) {
	content: '';
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	top: -18px;
	border: 10px solid transparent;
	border-bottom: 10px solid $color;
}